
.form_text {
  font-style: italic;
  font-weight:bold;
}

label {
  font-style: italic;
}
input[type="text"],
textarea {
  font-size:1.2rem;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 3px;
  resize: vertical;
  background: rgba(102, 102, 102, 0.3);
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: calibri;
}
textarea {
  height: 10rem;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

textarea::-webkit-scrollbar {
  width: 0 !important
}

input[type="submit"] {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.5rem;
}

input[type="submit"]:hover {
  color: white;
  border-color: white;
}
.privacy_policy {
  color: rgba(225, 225, 225, 0.5);
  font-size: 1.2rem;
  font-style: normal;
  margin-top: 1.7rem;
}
label.privacy_policy {
  display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: rgba(102, 102, 102, 0.3);
  transition: background-color 5000s ease-in-out 0s;
}
input[data-autocompleted] {
  background: rgba(102, 102, 102, 0.3) !important;
}

/* #privacy_policy{
    accent-color: rgba(102,102,102,.3);
    border-color:rgba(102,102,102,.3);
    box-shadow: none;
    border-radius: 0px;
    margin-left:0;
}
#privacy_policy:not(:checked){
    opacity:0.2;
}
label.privacy_policy{
    display: inline-block;
    margin-left:1rem;
} */

.overlay {
  position: fixed;
  top: 6.6rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
	z-index:10;
}

.popup {
  margin: 0 auto;
  margin-top:30vh;
  padding: 20px;
  background: rgba(49, 56, 84,.8);
  width: 50%;
  position: relative;
  /* transition: all 5s ease-in-out; */
	transition: opacity 500ms;
 
}

.popup h2 {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8);
}
.popup .close {
  position: absolute;
  top: 0px;
  right:12px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.popup .close:hover {
  color: white;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: rgba(255, 255, 255, 0.8)
}

.error{
  color:red;
  margin:.5rem 0 .5rem 0;
	font-size:1.3rem;
}

@media only screen and (min-width: 1000px) {

  input[type="text"] {
    font-size: 1.5rem;
  }
  textarea {
    height: 15vh;
    font-size: 1.5rem;
  }

  .privacy_policy {
    font-size: 1.5rem;
  }

  input[type="submit"] {
    margin-top: 2.6rem;
  }

  .overlay {
    top: 0;
  }
  .popup{
    width: 30%;
  }
}
