.header{
    height:0; 
}
main{
    margin-top:11rem
}
.main-container{
     height: 100vh;
}
.form_text{
    font-size:1.8rem;
    font-style: italic;
}

label{
    font-size:1.6rem;
    font-style: italic;
}
input[type=text], textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 3px;
  resize: vertical;
  background: rgba(102,102,102,.3);
  border:none;
  outline:none;
  color:white;
}
textarea{
    height:10rem;
    resize: none;
}

input[type=submit] {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid rgba(255,255,255,.8);
  border-radius: 8px;
  cursor: pointer;
  font-size:2rem;
  color:rgba(255,255,255,.8);
  margin-top:2.5rem;
}

input[type=submit]:hover {
    color: white;
    border-color: white;
}
.privacy_policy{
    color:rgba(225, 225, 225, .5);
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 1.7rem;
}
label.privacy_policy{
    display: inline-block;
}
/* #privacy_policy{
    accent-color: rgba(102,102,102,.3);
    border-color:rgba(102,102,102,.3);
    box-shadow: none;
    border-radius: 0px;
    margin-left:0;
}
#privacy_policy:not(:checked){
    opacity:0.2;
}
label.privacy_policy{
    display: inline-block;
    margin-left:1rem;
} */

@media only screen and (min-width:600px){

    .header{
        background: none;
    }

     .form_container{
        position: relative;
        width: 40%;
        float: right;
        margin-right:10rem;
    }
    body{
        background-image: url(../img/background_desktop.png);
        height:100%;
        background-size:cover;
        background-position: left bottom;

    }
    .main-container{
        position: relative;
        z-index: 0;

    }

    .footer{
        position: absolute;
        clear: both;
        width:67%;
        /* float: right; */
        right:0;
        bottom:0;

    }

    label, .privacy_policy{
        font-size:2rem;
    }
    .form_text{
        font-size: 2.2rem;
    }

    input[type=submit] {
        margin-top:2.6rem;
    }

}