.header {
    height: 0;
  }

/* Firefox */

* {
  scrollbar-width: .8rem;
  scrollbar-color: rgba(102, 102, 102, 0.3) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .8rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(102, 102, 102, 0.3);
  border-radius: .6rem;
  border: .3rem solid transparent;
}

.navigation > ul {
  height: calc(100vh - 15rem);
}
.main-container {
  min-height: calc(100vh - 20rem);
}
  
  #content_container {
    margin-top:11.2rem;
    min-height: calc(100vh - 27rem);
    /* min-height:calc(100vh - 13.2rem); */
    /* z-index:0; */
  }
  
  .footer {
    position: relative;
    clear: both;
    width: 100%;
  }
  
  .footer_divider {
    margin-top: 4rem;
  }
	
  @media only screen and (min-width: 1000px) {

    .navigation > ul {
      height: 0;
    }

    .header {
      background: none;
    }
  
    #content_container {
      display: flex;
      position: relative;
      min-height:calc(100vh - 22.7rem);
      width: 45%;
      float: right;
      margin-right: 12rem;
      margin-top: 9.1rem;
      align-items: center;
      /*     height: 75vh;
      overflow-y: scroll; */
    }

    .text_container{
      height:50vh;
      overflow-y: scroll;
      padding-right:.5rem;
    }

    .text_container p:first-of-type{
      margin-top:0;
    }

    body {
      background-image: url(../img/background_desktop.png);
      height: 100%;
      background-size: cover;
      background-position: left bottom;
      background-attachment: scroll;
    }

    .main-container {
      position: relative;
    
    }
  
    .footer {
      width: 67%;
      float: right;
  
    }
  
    .footer_divider {
      margin-top: 7rem;
    }
  }
  