.img_slider {
  position: relative;
  margin-top: 6.6rem;
}
.header {
  height: 0;
  /* clear: right; */
}

.slider_img_mobile {
/* width:100vw;
  background-image: url(../img/nana-slider-mobile.png);
  background-size: cover;
  background-position: center; */
  width:100%;
}

.slider {
  position: relative;
  width: 100%;
  /* box-shadow:rgba(0, 0, 0, 0.8) 1rem 1rem 4.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%); */
}

main {
  margin-top: 5rem;
}

.image {
  padding: .8rem .8rem;
  border: 0.2rem solid rgba(127, 127, 137, 0.5);
  box-sizing: border-box;
}

.smallImage_mobile {
  width: 100%;
}

.bigImage_mobile {
  width: 100%;
}

.arrow {
  position: absolute;
  height: 5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.arrows{
  height:6vh;
  opacity:20%;
}

.arrow_hover:hover .arrows {
  opacity:100%;
}

.product_wrapper {
  width: 47.5%;
}

.slider_title {
  display: block;
  position: relative;
  text-align: end;
  font-size: 2rem;
  font-family: casualcontactmf;
  height: 4.6rem;
  background: linear-gradient(to right, transparent 60%, rgba(0,0,0,.9));
  bottom: 4.5rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  box-sizing: border-box;
}

.collapse {
  height: 0;
}

.flex {
  justify-content: space-between;
  /* flex-wrap: nowrap; */
}

.table-line p {
  font-style: italic;
  margin: 0;
  white-space: nowrap;
	font-size: 1.4rem;
}

.table-line p:last-of-type {
  font-weight:bold;
}

.table-line:nth-of-type(even) {
  background-color: rgba(102, 102, 102, 0.3);
}

.title {
  margin: 3.5rem 0 2.3rem 0;
  color: rgba(225, 225, 225, 0.8);
  font-size: 1.6rem;
}
.diagram {
  width: 100%;
}

.product-container {
  margin-top: 4.8rem;
  border: 0.2rem solid rgba(127, 127, 137, 0.5);
}

.footer_flex {
  flex-wrap: wrap;
}
.flex-desktop {
  display: block;
}

.hide_on_mobile {
  display: none;
}

.shadow {
  border: none;
  height: 7rem;
  box-shadow: 0 3rem 3rem -1.5rem rgba(0, 0, 0, 0.8);
  margin: -7.5rem auto 1rem;
}

/* body:not(main .flex-desktop .hide_on_desktop:first-of-type #bigger){
    filter:blur(3rem);
} */

@media only screen and (min-width: 900px) {

  .slider_img {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
  }

  .background_nana{
    background-image: url(../img/nana-slider-desktop.png);

  }

  .background_nana-deko{
    background-image: url(../img/nana-deko-slider-desktop.png);

  }

  .background_areka{
    background-image: url(../img/areka-slider-desktop.png);   
  }

  .background_areka-deko{
    background-image: url(../img/areka-deko-slider-desktop.png);   

  }

  .background_lantana{
    background-image: url(../img/lantana-slider-desktop.png);   
  }

  .background_molis{
    background-image: url(../img/molis-slider-desktop.png);   
  }

  .background_yukka{
    background-image: url(../img/yukka-slider-desktop.png);   
  }

  .background_danika{
    background-image: url(../img/danika-slider-desktop.png);   
  }

  .background_tristis{
    background-image: url(../img/tristis-slider-desktop.png);   
  }

  .background_tristis-deko{
    background-image: url(../img/tristis-deko-slider-desktop.png);   
  }

  .background_pavia{
    background-image: url(../img/pavia-slider-desktop.png);   
  }

  .background_pavia-deko{
    background-image: url(../img/pavia-deko-slider-desktop.png);   
  }

  .background_kobeya{
    background-image: url(../img/kobeya-slider-desktop.png);   
  }

  .background_omela{
    background-image: url(../img/omela-slider-desktop.png);   
  }

  .slider_img_mobile {
    display: none;
  }

  .slider {
    height: 100vh;
    width: auto;
  }

  .img_slider {
    margin-top: 0;
  }

}

@media only screen and (min-width: 1000px) {

  .slider_title {
    height: 6rem;
    bottom: 6rem;
    font-size: 2.2rem;
    padding-top: 1.8rem;
  }
	
	 .table-line p {
    font-size: 1.8rem;
  }

  .image {
    padding: 0.3rem 0.3rem;
  }

  .flex-desktop {
    display: flex;
  }
  .product-container {
    margin-top: 0;
    height: 100%;
  }

  .hide_on_mobile {
    display: block;
  }

  .diagram {
    width: 100%;
    margin-top: 4.2rem;
  }

  .flex-width_right {
    width: 46vw;
  }
  .flex-width_left {
    width: 40vw;
    margin-right: 1.5rem;
  }

  .table_content {
    margin-bottom: 1rem;
  }
  
  .small {
    width: 36%;
    margin: 1rem 4rem 0 0;
    margin-bottom: auto;
  }

  .hide_on_desktop,
  #checkbox,
  .navigation__button {
    display: none;
  }
  .column {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 2.4rem;
  }

  .arrows{
    height:9vh;
  }

   .arrow_flex{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
  }

  .arrow_up{
    height:6vh;
    margin-bottom: -2rem;
  }
}
