body, html {
    height: 100%;
    margin:0;
  }
  
  .main-container {
    background-image: url("../img/background_mobile.jpg");
    height: 100vh;
    background-position: center;
    background-repeat:repeat-y;
    background-size: cover;
  }

  .header{
   height: 100vh;
  }

  .nav_contact{
    display: flex;
    justify-content: space-between; 
    background: #343D57;
    height: 66px;
  }

  .nav__menu{
    background: black;
    height: 66px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width:100%;
    opacity: 87%;

  }

  .logo__menu{
    display: inline-block;
    margin-top:-6px;
    margin-left:-6px;
  }

  .logo__main{
    height:200px;
    position:absolute;
    top:40%;
    left:50%;
    transform: translateX(-50%);
  }

   .nav_contact__right{
    display: inline-block; 
  }

  .nav_contact__left{
    display: inline-block;
    margin-top: 13.7px;
    margin-left: 10px;
    color: white;
  }


  .tel,.mail{
    display: inline-block;
    padding:2px;
  }

  .telegram{
    margin-right: 33px;
  }

  .telegram, .vk{
    display: inline-block;
    margin-left: 17.5px;
    margin-top:22px
  }

  .flex{
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    flex-wrap: wrap;

  }

