body, html {
    height: 100%;
    margin:0;
    background-image: url("../img/background_mobile.jpg"); 
  }
  
  .main-container {
    /* background-color: #1A2022; */
    height: 100vh;
    background-position: center;
    background-repeat:repeat-y;
    background-size: cover;
    box-shadow:rgba(0, 0, 0, 0.4) 10px 10px 5px;
  }

  .header{
   height: 100vh;
  }

  .nav_contact{
    display: flex;
    justify-content: space-between; 
    background: #343D57;
    height: 66px;
  }

  .nav__menu{
    background: black;
    height: 66px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width:100%;


  }

  .logo__menu{
    display: inline-block;
    margin-top:-6px;
    margin-left:-6px;
  }

  .logo__main{
    height:200px;
    position:absolute;
    top:40%;
    left:50%;
    transform: translateX(-50%);
  }

   .nav_contact__right{
    display: inline-block; 
  }

  .nav_contact__left{
    display: inline-block;
    margin-top: 13.7px;
    margin-left: 10px;
    color: white;
  }


  .tel,.mail{
    display: inline-block;
    padding:2px;
  }

  .telegram{
    margin-right: 33px;
  }

  .telegram, .vk{
    display: inline-block;
    margin-left: 17.5px;
    margin-top:22px
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .product__img{
    width:165px;
    text-align: center;
  }
  .product__img:hover{
    filter:drop-shadow(0 0  50px white);
  }

  main  > div:first-child {
    padding:50px 0 50px 0;
    color:white;
    text-align: center;
  }

  .product__container{
    background: rgba(122, 138, 154, .1);
    border-radius: 2px;
    border:1px solid rgba(226, 226, 226, .1);
    margin:0 0 30px 0;
    box-shadow: 8px 8px 20px rgba(168,164, 227, .1);
  }
